<connectionStrings>
    <add name="DeploymentCockpitEntities" connectionString="metadata=res://*/DeploymentCockpitModel.csdl|res://*/DeploymentCockpitModel.ssdl|res://*/DeploymentCockpitModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.\SQLEXPRESS;initial catalog=DeploymentCockpit;integrated security=True;MultipleActiveResultSets=True;App=DeploymentCockpit&quot;" providerName="System.Data.EntityClient" />
</connectionStrings>
