<div class="row">
    <div class="col-md-4">
        <div class="form-group">
            <label>Name</label>
            <input type="text" ng-model="script.name" class="form-control" />
        </div>
        <div class="form-group">
            <label>Description</label>
            <textarea ng-model="script.description" class="form-control" rows="5" />
        </div>
        <div class="form-group">
            <label>Project</label>
            <select ng-model="script.projectID"
                    ng-options="c.projectID as c.name for c in projects | orderBy:'name'"
                    class="form-control">
                <option value=""></option>
            </select>
        </div>
        <div class="form-group">
            <label>Script Type</label>
            <select ng-model="script.scriptType" ng-options="st for st in scriptTypes"
                    class="form-control"></select>
        </div>
        <div class="form-group">
            &nbsp;
            <button class="btn btn-success pull-right" ng-click="save(script)">
                <span class="glyphicon glyphicon-ok"></span> Save
            </button>
        </div>
    </div>
    <div class="col-md-8">
        <label ng-show="isExistingScript()">Predefined Variables</label>
        <span class="glyphicon glyphicon-question-sign"
              ng-show="isExistingScript()"
              popover-title="Predefined Variables"
              popover="DeploymentJobNumber, ProductVersion, EnvironmentName, TargetComputerName, CredentialUsername, CredentialPassword"
              popover-placement="right"
              popover-trigger="mouseenter"></span>
        <div my-script-parameters script-id="scriptID" ng-show="isExistingScript()"></div>
    </div>
</div>
<div class="row" ng-show="isExistingScript()">
    <div class="col-md-12">
        <div class="form-group">
            <label>Script Body</label>
            <textarea ng-model="script.body" class="form-control code-text script-editor" rows="15" />
        </div>
    </div>
</div>
<div class="row" ng-show="isExistingScript()">
    <div class="col-md-6">
        <div class="form-group">
            <label>Success Keywords</label>
            <span class="glyphicon glyphicon-question-sign"
                  popover-title="Success Keywords (optional)"
                  popover="{{successKeywordsDescription}}"
                  popover-placement="right"
                  popover-trigger="mouseenter"></span>
            <label class="checkbox-inline pull-right">
                <input type="checkbox" ng-model="script.successKeywordsAllRequired" /> All required
            </label>
            <textarea ng-model="script.successKeywords" class="form-control" rows="5" />
        </div>
    </div>
    <div class="col-md-6">
        <div class="form-group">
            <label>Failure Keywords</label>
            <span class="glyphicon glyphicon-question-sign"
                  popover-title="Failure Keywords (optional)"
                  popover="{{failureKeywordsDescription}}"
                  popover-placement="right"
                  popover-trigger="mouseenter"></span>
            <label class="checkbox-inline pull-right">
                <input type="checkbox" ng-model="script.failureKeywordsAllRequired" /> All required
            </label>
            <textarea ng-model="script.failureKeywords" class="form-control" rows="5" />
        </div>
    </div>
</div>
<div class="row" ng-show="isExistingScript()">
    <div class="col-md-6">
        <div class="form-group">
            <button class="btn btn-default btn-xs" ng-click="clearOutput()">Clear Output</button>
            &nbsp;
            <label class="checkbox-inline">
                <input type="checkbox" ng-model="appendToOutput" /> Append to output
            </label>
        </div>
    </div>
    <div class="col-md-6">
        <div class="form-inline pull-right">
            <div class="form-group">
                <label class="control-label">
                    Execute on:
                    &nbsp;
                    <select class="form-control input-sm"
                            ng-model="executionContext.targetID"
                            ng-options="e.targetID as e.name for e in executionContext.targets | orderBy:'name'">
                        <option value="">Server</option>
                    </select>
                </label>
                &nbsp;
                <button class="btn btn-warning" ng-click="execute(script)" ng-disabled="isExecutionInProgress">
                    <span class="glyphicon glyphicon-play"></span> Execute
                </button>
            </div>
        </div>
    </div>
</div>
<div class="row" ng-show="isExistingScript()">
    <div class="col-md-12">
        <div class="form-group">
            <label>Output</label>
            <textarea ng-model="output" class="form-control code-text" rows="18" readonly />
        </div>
    </div>
</div>
