<div class="row">
    <div class="col-md-10">
        <h2>Credentials</h2>
    </div>
    <div class="col-md-2">
        <div class="button-bar pull-right">
            <div class="btn-group">
                <a href="" class="btn btn-default" title="Create new" ng-click="create()">
                    <span class="glyphicon glyphicon-plus"></span>
                </a>
            </div>
        </div>
    </div>
</div>
<hr />
<div class="row" ng-show="isLoading()">
    <div class="col-md-12">
        <div my-loading-indicator></div>
    </div>
</div>
<div class="row" ng-hide="isLoading()">
    <div class="col-md-12">
        <table class="table table-condensed table-hover table-striped table-borderless">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Username</th>
                    <th>Domain</th>
                    <th></th>
                </tr>
            </thead>
            <tr ng-repeat="credential in credentials | orderBy:'name'">
                <td><a href="" ng-click="edit(credential)">{{credential.name}}</a></td>
                <td>{{credential.username}}</td>
                <td>{{credential.domain}}</td>
                <td>
                    <a href="" class="pull-right" title="Delete" ng-click="delete(credential)">
                        <span class="glyphicon glyphicon-remove"></span>
                    </a>
                </td>
            </tr>
        </table>
    </div>
</div>
